/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;  
}

body{
   background-color: black;
    
}

h1{
    font-family: sans-serif;
    font-size: 2em;
    display: flex;
    color: white;
    
}
a {
    text-decoration: none;
    color: white;
   
}
ul{
    text-decoration: none;
    font-family: sans-serif;
    font-size: 0.5em;
    list-style: none;
    display: flex;
    flex-direction: column;
    color: white; 
}
