/* CSS Document */

*,
*::after,
*::before {
	box-sizing: border-box;
}

body {
	background-image: url("../images/frontpage.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center-center;
	display: flex;
	flex-flow: row wrap;
	height: 100vh;
	width: 100vw;
	margin: 0;
	padding: 0;
}

main {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-content: space-between;
}


h1 {
	font-family: Roboto;
	font-size: 2.3em;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	color: white;
	padding: 0;
	margin: .4em 0 .5em 0;
	letter-spacing: .2em;
	padding: .3em 0 1em 1.3em;
}

div {
	display: flex;
	flex-flow: row;
	justify-content: flex-end;
	align-items: flex-start;
	height: 10%;
	width: 10%;
	margin: 0;
	position: absolute;
	padding-right: .5em;
	padding-top: 2em;
	right: 2em;
}

div > li {
	list-style: none;
	display: flex;
	margin: 0;
	height: 80%;
	width: 80%;
	padding-right: 2.5em;
	
}


nav {
	display: flex;
	flex-flow: column;
	justify-content: flex-start;
	align-items: flex-start;
	padding-right: 6em;
	flex: 30%;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 9.5em;
	transform: translateX(-100%);
	transition: transform 1s ease;
}

nav > ul {
	text-decoration: none;
	font-family: Roboto;
	font-weight: 600;
	font-size: .7em;
	letter-spacing: .2em;
	list-style: none;
	display: flex;
	flex-direction: column;
	padding-left: 4.5em;

}

nav.toonMenu{
	display: flex;
	transform: translateX(0);
	transition: transform 1s ease;
	background-color: black;
}


ul.second {
	text-decoration: none;
	font-family: Roboto;
	font-weight: 100;
	font-size: .7em;
	list-style: none;
	display: flex;
	flex-direction: column;
	color: white;
	padding-top: 5em;

}

a {
	text-decoration: none;
	color: white;

}

a:visited {
	color: white;
}

a:hover {
	padding-left: .5em;
}

@media (min-width: 30em) {
		div{
		display: flex;
	}
	nav{
		display: none;
	}
}

@media (min-width: 55em) {
		div{
		display: none;
	}
		nav{
		display: flex;
	}
		nav {
		display: flex;
		position: static;
		transform: translateX(0);
	}
}

footer {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	height: 2em;
	font-weight: 300;
	background-color: black;
	display: flex;
	flex: 0 0 100%;
	justify-content: center;
	align-items: center;
	text-decoration-color: white;
	text-decoration: none;
	list-style: none;
	margin: 0;
	padding: 0;

}

ul last {
	padding: 0;
	margin: 0;
}

ul.last > li {
	color: white;
	font-size: .7em;
	padding: 0;
	margin: 0;
	list-style: none;
}
