/* CSS Document */

*,
*::after,
*::before {
	box-sizing: border-box;
}

main {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-content: space-between;
	align-items: flex-start;
	flex: 80%;
	margin: 5em 0 5em 0;
	padding: 0;
}

body {
	background-color: white;
	display: flex;
	flex-flow: row wrap;
	margin: 0em;
	align-items: flex-start;
}

nav {
	display: flex;
	flex-flow: column;
	justify-content: flex-start;
	align-items: flex-start;
}

h1 {
	font-family: sans-serif;
	font-size: 2.5em;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	color: black;
}

a {
	text-decoration: none;

}

a:visited {
	color: black;
}

/*
div.ham {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-end;
	align-items: flex-end;
	margin: 0;
	padding: 0;
}
*/

/*
div.ham > li{
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-end;
	align-items: flex-end;
	margin: 0;
	padding: 0;
}
*/


h1 {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-items: flex-start;
	padding-left: 0.7em;
}

nav > ul {
	text-decoration: none;
	font-family: Lora;
	font-weight: 600;
	font-size: .8em;
	list-style: none;
	display: flex;
	flex-direction: column;
	padding-left: 3em;

}

ul.second {
	text-decoration: none;
	font-family: Lora;
	font-weight: 100;
	font-size: .8em;
	list-style: none;
	display: flex;
	flex-direction: column;
	color: black;
	padding-top: 5em;

}


ul.items {
	display: flex;
	flex: 0 0 50%;
	max-width: 100%;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-items: center;
	border: 0;
	margin: 0;
}

img {
	width: 50%;
	height: 50%;
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-items: flex-start;
	margin: 0.5em;
}

p {
	display: flex;
	flex-direction: column wrap;
	justify-content: flex-start;
	align-items: center;
	text-decoration: none;
	font-family: Lora;
	font-size: .7em;
	padding: 0;
	margin: 0;
}

p:nth-of-type(2) {
	font-weight: 600;
}

ul.items > li {
	flex: 0 0 33%;
	max-width: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	align-content: space-around;
}

@media (min-width: 25em) {
	ul.items > li {
		flex: 50%;
	}

/*
	div.ham {
		display: none;
	}
*/
}

@media (min-width: 45em) {
	ul.items > li {
		flex: 33%;
	}

/*
	div.ham {
		position: absolute;
	}
*/
}

	footer {
		background-color: black;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		display: flex;
		flex: 0 0 100%;
		flex-flow: row wrap;
		justify-content: flex-start;
		text-decoration-color: white;
		align-content: space-evenly;
		text-decoration: none;
		list-style: none;
	}

	ul.stick {
		position: sticky;
		top: 0;
		background-color: black;
		display: flex;
		flex: 0 0 100%;
		justify-content: center;
		text-decoration-color: white;
		text-decoration: none;
		list-style: none;
		margin: 0;
		padding: 0;

	}

	footer > ul {
		color: white;
		text-decoration: none;
		font-family: Lora;
		font-size: .7em;
		list-style: none;
		height: 6em;
		margin: 1em;

	}
